@import '../../../styles/base.scss';

.wrapper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 3px 0 10px;

    .wrapper-header__logo {
        width: 180px;
        margin: 5px 0;
    }
    .wrapper-header__buttons-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .wrapper-header__buttons-block__fullscreen {
            width: 30px;
            height: 15px;
            background: url('../../../img/fullscreen.svg') no-repeat center;
            cursor: pointer;
        }
    }
}