// ====================== BASE COLORS ====================== //

$black: #000000;
$white: #ffffff;
$grey: #424242;   //$grey: #404040;
$border: 1px solid #404040;
$red: #DC2222;

// ====================== FONT WEIGHTS ====================== //

$light: 100;
$regular: 400;
$medium: 500;
$bold: 700;
$heavy: 900;

// ====================== FONTS ====================== //

$font: 'Montserrat', sans-serif;