@import '../../../styles/base.scss';

.wrapper-optionbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //border: 1px solid red;
    //overflow-y: scroll;
    width: 15em;
    //height: auto;
    z-index: 10000;

    .wrapper-optionbar__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        -moz-transition: opacity .3s, max-height .3s;
        -ms-transition: opacity .3s, max-height .3s;
         transition: opacity .3s, max-height .3s;
        //border-bottom: $border;

        .wrapper-optionbar__list-text {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;

            .wrapper-optionbar__list-text__light {
                width: 40px;
                height: 40px;
                border: 2px dotted $red;
                background: url('../../../img/text_fields.svg') no-repeat center;
            }
            .wrapper-optionbar__list-text__medium {
                width: 40px;
                height: 40px;
                border: 2px dotted $red;
                background: url('../../../img/format_italic.svg') no-repeat center;
            }
            .wrapper-optionbar__list-text__bold {
                width: 40px;
                height: 40px;
                border: 2px dotted $red;
                background: url('../../../img/format_bold.svg') no-repeat center;
            }
        }
        & > div {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 10px 0 10px;
            //border-bottom: $border;

            &:hover {
                cursor: pointer;
            }
        }
        .wrapper-optionbar__list-turnstile {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            height: auto;

            .wrapper-optionbar__list-turnstile__photo {
                width: 15px;
                height: 15px;
                margin-left: 5%;
                background: url('../../../img/navigate-arrow.svg') no-repeat center;
            }
            & > span {
                margin-left: 5%;
            }

        }
        .wrapper-optionbar__list-barrier {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .wrapper-optionbar__list-barrier__photo {
                width: 15px;
                height: 15px;
                margin-left: 5%;
                background: url('../../../img/navigate-arrow.svg') no-repeat center;
            }
            & > span {
                margin-left: 5%;
            }
        }
        .wrapper-optionbar__list-anadromous {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .wrapper-optionbar__list-anadromous__photo {
                width: 15px;
                height: 15px;
                margin-left: 5%;
                background: url('../../../img/navigate-arrow.svg') no-repeat center;
            }
            & > span {
                margin-left: 5%;
            }
        }
        .wrapper-optionbar__list-wall {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            
            .wrapper-optionbar__list-wall__photo {
                width: 15px;
                height: 15px;
                margin-left: 5%;
                background: url('../../../img/navigate-arrow.svg') no-repeat center;
            }
            & > span {
                margin-left: 5%;
            }
        }
        .wrapper-optionbar__list-premises {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .wrapper-optionbar__list-premises__photo {
                width: 15px;
                height: 15px;
                margin-left: 5%;
                background: url('../../../img/navigate-arrow.svg') no-repeat center;
            }
            & > span {
                margin-left: 5%;
            }
        }
    }
}

// =========== STYLES FOR LIST FIGURES =========== //

// =========== TURNSTILE =========== //

.wrapper-optionbar__list-turnstile__turnstile-figures {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;

    .wrapper-optionbar__list-turnstile__turnstile-figures__section-one {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
    .wrapper-optionbar__list-turnstile__turnstile-figures__section-two {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
    .wrapper-optionbar__list-turnstile__turnstile-figures__section-three {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
}

// =========== BARRIER =========== //

.wrapper-optionbar__list-barrier__barrier-figures {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;

    .wrapper-optionbar__list-barrier__barrier-figures__section-one {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
    .wrapper-optionbar__list-barrier__barrier-figures__section-two {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
    .wrapper-optionbar__list-barrier__barrier-figures__section-three {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
}

// =========== ANADROMOUS =========== //

.wrapper-optionbar__list-anadromous__anadromous-figures {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;

    .wrapper-optionbar__list-anadromous__anadromous-figures__section-one {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
    .wrapper-optionbar__list-anadromous__anadromous-figures__section-two {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
    .wrapper-optionbar__list-anadromous__anadromous-figures__section-three {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
}

// =========== WALL =========== //

.wrapper-optionbar__list-wall__wall-figures {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;

    .wrapper-optionbar__list-wall__wall-figures__section-one {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
    .wrapper-optionbar__list-wall__wall-figures__section-two {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
    .wrapper-optionbar__list-wall__wall-figures__section-three {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
}

// =========== PREMISES =========== //

.wrapper-optionbar__list-premises__premises-figures {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;

    .wrapper-optionbar__list-premises__premises-figures__section-one {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
    .wrapper-optionbar__list-premises__premises-figures__section-two {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
    .wrapper-optionbar__list-premises__premises-figures__section-three {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //border: 1px solid red;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin: 10px;
            border: 1px solid $red;
        }
    }
}


// STYLES FOR CHANGE PHOTO IN MAIN LIST

.transform-photo {
    transform: rotate(90deg);
}