@import '../../styles/base.scss';

.wrapper-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .wrapper-dashboard__header {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 7%;
        background-color: $grey;
        //border-bottom: 1px solid $black;
        //color: $black;
    }

    .wrapper-dashboard__main {
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .wrapper-dashboard__main-canvas {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            //border: 1px solid yellow;

            .wrapper-dashboard__navigation-left {
                display: flex;
                flex: 0 0 auto;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                //border: 1px solid red;
                height: 100%;
                background-color: $grey;
                color: $white;
            }

            .wrapper-dashboard__option-left {
                display: flex;
                flex: 0 0 auto;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                border-right: 1px solid #dfdfdf;
                height: 93vh;
                overflow: scroll;
            }
    
            .wrapper-dashboard__canvas {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1 0 auto;
                height: 100%;
                //border: 1px solid red;
            }
    
            .wrapper-dashboard__navigation-right {
                display: flex;
                flex: 0 0 auto;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 3em;
                background-color: $grey;
                color: $white;
            }
        }
    }
}