@import '../../styles/base.scss';

.wrapper-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .wrapper-dashboard__header {
        display: flex;
        flex: 0 0 auto;
        width: 100%;
        //height: 5%;
        background-color: $grey;
    }

    .wrapper-dashboard__main {
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .wrapper-dashboard__main-canvas {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .wrapper-dashboard__navigation-left {
                display: flex;
                flex: 0 0 auto;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                background-color: $grey;
                color: $white;
            }

            .wrapper-dashboard__option-left {
                display: flex;
                flex: 0 0 auto;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                //border-right: 1px solid #dfdfdf;
                height: 93vh;
                overflow: scroll;
            }
    
            .wrapper-dashboard__canvas {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1 0 auto;
                height: 100%;
            }
    
            .wrapper-dashboard__navigation-right {
                display: flex;
                flex: 0 0 auto;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                //padding: 0 3px;
                background-color: $grey;
                color: $white;
            }
        }
    }
}

// TOGGLE ALL BLOCK
.fullscreen {
    display: block;
    width: 0px;
    border: 0;
}

// TOGGLE OPTION BLOCK
.toggle-optionbar {
    width: 0px;
    border: none;
    opacity: 0;
}