@import '../../../styles/base.scss';

.wrapper-leftbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 2.5em;
    z-index: 1000;

    .wrapper-leftbar__navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 15%;
        min-height: 10%;

        img {
            font-size: 20px;
            border-left: 3px solid transparent;
            padding-left: 4px;
            padding-right: 6px;

            &:hover {
                border-left: 2px solid $red;
                cursor: pointer;
                transition: all 0.2s ease-in;
            }
        }
    }
    .wrapper-leftbar__profile {
        display: flex;
        width: 30px;
        height: 30px;
        background-color: $red;
        border-radius: 50%;
        margin-bottom: 17px;
    }
}